<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            width: 9%;
            height: 9%;
        }
    </style>
</head>
<body>
<h1>[HTTP/2] Image split into 100 parts</h1>

<div>
    <img th:src="@{/images/image_part_001.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_002.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_003.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_004.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_005.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_006.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_007.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_008.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_009.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_011.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_012.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_013.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_014.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_015.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_016.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_017.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_018.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_019.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_021.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_022.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_023.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_024.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_025.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_026.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_027.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_028.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_029.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_031.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_032.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_033.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_034.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_035.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_036.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_037.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_038.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_039.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_041.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_042.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_043.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_044.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_045.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_046.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_047.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_048.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_049.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_051.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_052.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_053.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_054.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_055.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_056.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_057.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_058.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_059.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_061.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_062.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_063.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_064.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_065.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_066.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_067.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_068.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_069.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_071.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_072.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_073.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_074.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_075.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_076.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_077.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_078.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_079.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_081.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_082.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_083.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_084.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_085.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_086.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_087.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_088.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_089.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_010.jpg}" alt="image"/>
</div>

<div>
    <img th:src="@{/images/image_part_091.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_092.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_093.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_094.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_095.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_096.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_097.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_098.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_099.jpg}" alt="image"/>
    <img th:src="@{/images/image_part_100.jpg}" alt="image"/>
</div>

<br>
<a href="/">Go back to home</a>
</body>
</html>
